<h1><%= @title%></h1>
<p><%= @sub_title%></p>

<!--
<%= link_to 'About us', about_path, target: "_blank", data: {name:'abouts page',resources:'pages'}%>

<%= link_to 'contact us', controller: :pages, action: :contact_us%>
<%= link_to 'contact us', controller: 'pages', action: 'contact_us'%>

<%= link_to 'About us' ,'/about'%>
<%= link_to nil , about_path%>
-->
<%= render 'shared/links'%>


